
@font-face {
	font-family: Kouzan;
	src: url(./fonts/KouzanSoushoOTF.otf);
}

@font-face {
	font-family: hkgyoi;
	src: url(./fonts/hkgyoiw.ttf);
}

@font-face {
	font-family: hkgyos;
	src: url(./fonts/HOT-GyoshoStd-R.woff);
}