.App {
	display: grid;
	place-content: start;

	overflow: hidden;

	width: 100dvw;
	height: 100dvh;

	@media (width <= calc(75dvh + 8em)) and (aspect-ratio <= 1/1) {
		grid-template: min-content 1fr / min(100%, 75dvh, calc(100dvh - 7rem));
		justify-content: start;

	}

	@media (width > calc(75dvh + 8em)) or (aspect-ratio > 1/1) {
		grid-template: 100% / minmax(auto, 85dvh) minmax(7em, 1fr);
	}
}

#wincard {
	position: fixed;
	place-self: center;

	width: 54dvw;
	height: 16dvw;

	background-color: gold;
	color: crimson;

	font-size: 9dvw;
	font-weight: bold;
	text-align: center;
	line-height: 16dvw;

	z-index: 1;


	~* {
		filter: grayscale(1);
		pointer-events: none;
	}
}
