.tile {
	--base-fill: hsl(40, 100%, 87%);
	--fill: var(--base-fill);
	
	&>polygon {
		stroke: black;
		stroke-width: 1;
		fill: var(--fill);
	}
	
	&.check{
		--fill: hsl(0, 70%, 50%);
	}
	&.selected{
		--fill: color-mix(in oklab, var(--base-fill), cyan);
	}
	&.checking .piece polygon{
		stroke: hsl(0, 70%, 55%);
		stroke-width: 5px;
	}
	
	&.focus{
		--fill: hsl(260, 70%, 50%);
	}
	
	&:hover {
		filter: hue-rotate(20);
	}
	
	&.highlighted {
		cursor: pointer;
		--fill: hsl(56, 70%, 71%);
	}
}
